* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.scroll-container {
  width: 100%;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-intro {
  background: white;
}

.section-intro h1 {
  color: white;
  font-size: 3rem;
  font-family: sans-serif;
}

.section-card {
  background: white;
  position: relative;
  height: 100vh;
  display: flex;
  
}

.section-end {
  background: white;
}

.section-end h1 {
  color: white;
  font-size: 3rem;
  font-family: sans-serif;
}

.card {
  width: 505px;
  height: 308px;
  background-color: #480505;
  
  display: flex;
  border: #480505 solid 4px;
  overflow: hidden;
}


.column1 {
  display: flex;
  flex-direction: column;
  flex: 2;
  position: relative;
}

.column1 img {
  position: absolute;   
  top:-72px;              
  left: 13px;
  scale: .85;
}


.column2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.square1 {
  background-color: #c17d72;
  flex: 2;
  
}
.square2 {
  background-color: #2a80af;
  flex: 1;
  position: relative; 
  overflow: hidden;
}
.square3 {
  background-color: white;
  flex: 6;
  position: relative; 
  overflow: hidden;
}
.square4 {
  background-color: #00223c;
  flex: 1;
  position: relative; 
  overflow: hidden;
}
.name {
  font-size: 60px;
  font-weight: bolder;
  color: white;
  position: absolute;
}
